.img-product {
    object-fit: cover;
    width: auto;
    height: 350px;
}

.btn-style {
    border-radius: 20px;
}

.text-price-style {
    font-size: 30px;
    font-weight: bold;
    color: #41a9d0;
}