<div class="row">
    <div class="container-fluid">
        <app-navbaradmin></app-navbaradmin>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h3 class="mt-5 animate__animated animate__fadeIn">Orders history</h3>
            <hr>
            <div class="navbar-nav col-md-4 ">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" style="width: 500px;" aria-label="Search">
                    <button class="btn btn-outline-success ml-2" type="submit">Search</button>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table mt-5">
                        <thead class="" style="background-color: #e4c7c9; color:rgb(99, 99, 99)">
                            <tr>
                                <th class="col-2">#</th>
                                <th class="col-3">Products</th>
                                <th class="col-2">Address</th>
                                <th class="col-2">Email</th>
                                <th class="col-2">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="col-2"></th>
                                <td class="col-3"></td>
                                <td class="col-2"></td>
                                <td class="col-2"></td>
                                <td> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<!------------FOOTER------------>
<app-footer></app-footer>